body {
    margin: auto;
}

form {
    margin-top: 20px;
}

.submitButtonBlock {
    padding-bottom: 10px;
}

.submitButton {
    font-weight: 600; 
    margin-top: 20px;
}

.mat-form-field {
    display: block;
    max-width: 300px;
    margin: auto;
}

input {
    text-align: center;
}