.buttons{
    margin-top:10px;
}
.button{
    margin-right: 20px;
}
.right-button{
    
     right: 0;
}
.part-card{
    margin-top:10px;
}
.part-input-field{
    margin: 0px 15px;
}
.part-input-container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}
