<mat-card>
  <mat-card-title>
    Mechanicy
  </mat-card-title>
<table mat-table [dataSource]= "workersActivitiesTable" class="mat-elevation-z8">
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> Imie </th>
    <td mat-cell *matCellDef="let element"> {{element.worker.firstName}} </td>
  </ng-container>

  
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Nazwisko </th>
    <td mat-cell *matCellDef="let element"> {{element.worker.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="numberOfActivities">
    <th mat-header-cell *matHeaderCellDef> Ilość zadań </th>
    <td mat-cell *matCellDef="let element"> {{element.worker.lastName}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
 
</table>
