<mat-card>
  <mat-card-title>Naprawy</mat-card-title>
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-checkbox>Otwarte</mat-checkbox>
      <mat-checkbox>W trakcie</mat-checkbox>
      <mat-checkbox>Odwołane</mat-checkbox>
      <mat-checkbox>Zakończone</mat-checkbox>
    </div>
  </div>
  <table mat-table [dataSource]="repairsDataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="{{column.name}}" *ngFor="let column of repairsColumnsToDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.display}} </th>
        <td  mat-cell *matCellDef="let element"> {{element[column.name]}}</td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="repairsColumnsToDisplay.length">
        <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" class="element-detail">
          <button *ngIf="expandedElement" mat-raised-button color="primary" routerLink="activities">Zobacz szczegóły</button>
          <table mat-table [dataSource]="subTasksDataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="{{column.name}}" *ngFor="let column of subTasksColumnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column.display}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column.name]}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="getSubTasksColumnsToDisplayNames()"></tr>
    <tr mat-row *matRowDef="let row; columns: getSubTasksColumnsToDisplayNames();"></tr>
  </table>
  </div>
  </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="getRepairsColumnsToDisplayNames()"></tr>
  <tr mat-row *matRowDef="let element; columns: getRepairsColumnsToDisplayNames();" class="element-row"
    [class.expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
</mat-card>