.my-icon {
  font-size: 72px;
  vertical-align: middle;
}
.my-clickable:hover {
  color: lightblue;
  cursor: pointer;
}
.my-navbar {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
