  .my-icon {
    font-size: 72px;
    vertical-align: middle;
  }
  .my-navbar {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }
  .my-tile1 {
    height: 100%;
  }
  .my-tile2 {
    border-left: 2px solid black;
    height: 100%;
  }
  .my-registration-numbers {
    text-align: right;
  }
  .my-card {
  margin: 10px;
  }
  .my-status {
    position: absolute;
    left: 80%;
  }
  .buttons {
    position: absolute;
    right: 0%;
    padding-right: 5%;
  }