<nav class="navbar navbar-light bg-light row my-navbar">
  <div class="col-1 text-center">
    <i class="material-icons my-icon">build</i>
  </div>
  <div class="col-2">
    <a>
      <h2 class="my-title-font">KOService</h2>
      <h6> Panel klienta </h6>
    </a>
  </div>
  <div class="col-9 my-registration-numbers">
      <h6>Ford Focus SPS2346783 </h6>
  </div>
</nav>

<div class="row">
<div class="col-4">
    <mat-toolbar color="secondary">
        <mat-toolbar-row>
          <span>Wycena</span>
        </mat-toolbar-row>
    </mat-toolbar>
      <mat-card class="my-card">
        Części:
            <mat-list class="my-property">
                <mat-list-item>
                      xd
                  </mat-list-item>
            </mat-list>
        Robocizna:
              <mat-list class="my-property">
                <mat-list-item>
                    coś 200
                </mat-list-item>
                <mat-list-item>
                    xd 200
                </mat-list-item>
                </mat-list>
          <mat-card-actions>
            <a class="total-sign">Razem: 300</a>
              <div class="buttons">
                  <button mat-icon-button>
                      <mat-icon>done</mat-icon>
                    </button>
                    <button mat-icon-button color="warn">
                        <mat-icon>close</mat-icon>
                      </button>
                  </div>
          </mat-card-actions>
        </mat-card>
        
</div>
<div class="col-8 my-tile">
    <mat-toolbar color="secondary">
        <mat-toolbar-row>
          <span>Przebieg naprawy</span>
        </mat-toolbar-row>
      </mat-toolbar>
  <mat-list>
    <mat-card class="my-card"><mat-list-item>Wymiana oleju <a class="my-status">Status: w trakcie</a></mat-list-item></mat-card>
    <mat-card class="my-card"><mat-list-item>Wymiana opon <a class="my-status">Status: w trakcie</a></mat-list-item></mat-card>
    <mat-card class="my-card"><mat-list-item>Wymiana świec <a class="my-status">Status: anulowane</a></mat-list-item></mat-card>
     </mat-list>
</div>
</div>
  

