<div cdkDropListGroup>
  <div class="container-fluid margin-top">
    <div class="row center ">
      <div class="col-md-6">

        <mat-card>
          <mat-card-title>
            Zadania w ramach naprawy
          </mat-card-title>

          <table mat-table [dataSource]="repairActivities" class="mat-elevation-z8">

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let activity"> {{activity.description}} </td>
            </ng-container>


            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let activity"> {{activity.typeId}} </td>
            </ng-container>


            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let activity" [ngSwitch]="activity.status">
                <i *ngSwitchCase="0" class="material-icons" id="status-open">new_releases</i>
                <i *ngSwitchCase="1" class="material-icons" id="status-progress">schedule</i>
                <i *ngSwitchCase="2" class="material-icons" id="status-canceled">check_circle_outline </i>
                <i *ngSwitchCase="3" class="material-icons" id="status-finished"> cancel</i>
              </td>
            </ng-container>
            <ng-container matColumnDef="worker">

              <th mat-header-cell *matHeaderCellDef> Worker </th>
              <td mat-cell *matCellDef="let activity">
                <div id="{{activity.id}}" cdkDropList [cdkDropListData]="assigned" class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box">
                    <p>{{assignments[activity.id].Name}}</p>
                  </div>
                </div>

              </td>

            </ng-container>




            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" cdkDrop>

            </tr>


          </table>
          <mat-toolbar class="toolbar" (click)="openActivityCreatorDialog()">
            <mat-toolbar-row>
              <i class="material-icons footeritem">
                add_circle_outline
              </i>

            </mat-toolbar-row>
          </mat-toolbar>
        </mat-card>

      </div>
      <div class="col-md-4">
        <app-workers-table></app-workers-table>

      </div>
    </div>
  </div>
  <div class="container repair-info">
    <app-repair-info></app-repair-info>
  </div>