@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.my-title-font {
  font-family: 'Allerta Stencil';
}

#status-open{
  color:rgb(40, 155, 255);
}

#status-progress{
color:rgb(255, 165, 0);
}

#status-finished{
color:green;
}

#status-canceled{
color:rgb(193, 0, 0);
}

.fill-remaining-space {
  flex: 1 1 auto;
}

