<div class="row">
  <div *ngIf="leftButtonsPresent()" class="col">
    <div name="left-buttons"
    *ngFor="let button of getLeftButtons()"
    class="float-left my-clickable my-navbar-button my-button-left"
    (click)="navigate(button.redirectTo)">
      <i *ngIf="button.isIcon" class="material-icons my-icon">
        {{button.text}}
      </i>
      <h5 *ngIf="!button.isIcon" class="my-text-button">
        {{button.text}}
      </h5>
    </div>
  </div>
  <div *ngIf="rightButtonsPresent()" class="col-auto">
    <div name="right-buttons"
    *ngFor="let button of getRightButtons()"
    class="float-right my-clickable my-navbar-button my-button-right"
    (click)="navigate(button.redirectTo)">
      <i *ngIf="button.isIcon" class="material-icons my-icon">
          {{button.text}}
      </i>
      <h5 *ngIf="!button.isIcon" class="my-text-button">
          {{button.text}}
      </h5>
    </div>
  </div>
</div>
